body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(68, 145, 189);
    /* background-image: url('/src/photorealistic-style-clouds_23-2151058968.jpg'); */

}

.container {
    text-align: center;
    max-width: 600px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(195, 206, 38, 0.1);
    background-image: url('/src/pngtree-white-cloud-on-blue-sky-weather-background-image_410050.jpg');

}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

button[type="submit"] {

    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;

    &:hover {
        background-color: #45a049;
    }
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#weather-data {
    text-align: center;
}

.icon img {
    width: 100px;
    height: 100px;
}

.temperature {
    font-size: 2em;
    margin-bottom: 10px;
}

.description {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 20px;
}

.details {
    display: flex;
    justify-content: space-around;
}

.details div {
    width: 30%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
